{% extends "auth/base_auth.html" %}
{% block title %}Criar Conta - NapSe{% endblock %}

{% block content %}
<div class="auth-box">
  <h2>Criar conta</h2>

  <form method="POST">
    <input type="text" name="username" placeholder="Nome de usuário" autocomplete="username" required>
    <input type="password" name="password" placeholder="Senha" autocomplete="new-password" required>
    <button type="submit" class="auth-btn">Criar conta</button>
  </form>

  <p class="auth-switch">
    Já tem conta? <a href="{{ url_for('auth.login') }}">Entrar</a>
  </p>
</div>
{% endblock %}
